body{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(240, 220, 220);
   
    border-color: black;
}
nav ul{
    list-style-type: style type none;
    padding: 0;
    margin: 0;
}
nav li{
    display: inline;
    margin: 10px;
    
}
nav li a{
    color: black;
    background-color: rgb(247, 230, 230);
    border-radius: 5px;
   
}
nav li a:hover{
    background-color: white;
}    

.form{
   
    height: 80px;
    text-align: center;
    line-height: 20px;
   
    padding: 100px;
}
#user{
    font-size: 30px;
    font-style: italic;
}
#pass{
    font-size:30px;
    font-style: italic;
}
footer{
    
    text-align: right;
    color: rgb(247, 242, 241);
}
#top{
    margin-top: 40px;
}

h1{
    color:white;
    text-align: center;

}
#login{
    text-align: center;
    color: red;
    font-weight: 800;
    font-size: 30px;
}
footer a{
    color: white;
}
h3{
    color:rgb(255, 166, 0);
    font-size: 25px;
    text-align: center;
}
.form h2{
    color:rgb(255, 0, 0);
    position:relative;
    right: 170px;
    font-size: 30;
}
body{
    background-image: url(stock.jpg);
}
label{
    color: white;
    font-weight: bolder;
    font-size: 30px;
}
button{
    color: orange;
    font-size: 20px;
    position:relative;
    right: 75px;
    margin-top: 10px;

}